/* グローバルスタイル */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background: #333;
    color: #fff;
    text-align: center;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px; /* 上下のパディングを最小限に */
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    background: #444;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a, .lang-btn {
    color: #fff;
    text-decoration: none;
}

.lang-btn {
    background: #444;
    color: #fff;
    border: none;
    padding: 5px 10px;
    margin-left: 10px;
    cursor: pointer;
}

.lang-btn:hover {
    background: #555;
}

section {
    padding: 40px 40px 20px 40px;
    background: #fff;
    margin: 10px 0;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
}

.two-column {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
    padding: 20px 0;
}

.two-column .column {
    flex: 1;
    min-width: 250px;
}

.profile-img {
    max-width: 30%;
    height: auto;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
}

/* ハンバーガーメニュー */
.menu-icon {
    display: none;
    font-size: 24px;
    cursor: pointer;
    margin-right: 20px;
}

/* モバイル向けのスタイル */
@media (max-width: 768px) {
    .menu-icon {
        display: block;
    }

    nav ul {
        display: none;
        flex-direction: column;
        width: 100%;
        text-align: left;  /* 左寄せに変更 */
        background: #333;  /* 背景色をナビゲーションバーと統一 */
        padding: 10px;
        position: absolute;  /* メニューが固定されるようにする */
        top: 60px;  /* ヘッダーの高さ分下げる */
        left: 0;
        z-index: 1001;
    }

    nav ul.active {
        display: flex;
    }

    nav ul li {
        margin: 10px 0;
    }

    nav ul li a, .lang-btn {
        padding: 10px;
        display: block;
        width: 100%;
    }

    .two-column {
        flex-direction: column; /* 1カラムに変更 */
    }

    .profile-img {
        padding-top: 80px; 
        max-width: 50%; /* 画像を大きく表示するために最大幅を変更 */
    }
}
p {
    padding-left: 10px;
}
#about {
    padding-top: 40px; /* 固定ナビゲーションバーの高さに合わせて余白を設定 */
}